@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
    display: block;
}
/* --------------------------------- */
.mycolbrown{
    color: #9d4b08;
}
.lightbrown{
    color: #9d4b08;
}
/* --------------------------------- */
* {
    font-family: Outfit;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

/* hide default scroll bar of product img */
::-webkit-scrollbar{
    display: none;
}



@media (max-width:648px) {
    a.active {
        background-color: black;
        color: white;
    }
}